body {
  background-color: #d25b73;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Spartan", sans-serif;
}

#navbar {
  background-color: transparent;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
}

#navbar a:hover {
  background: none;
  color: #f2a900;
}
#logo {
  height: 30vh;
}

#introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1000px;
  margin-bottom: auto;
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}
@keyframes flyin {
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}
#name {
  display: flex;
  justify-content: center;
}
#firstName {
  color: #f2a900;
  margin-right: 7px;
  font-weight: 400;
  font-size: 4rem;
}
#lastName {
  color: whitesmoke;
  margin-right: 7px;
  font-weight: 700;
  font-size: 4rem;
}
#jobTitle {
  color: whitesmoke;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 1px;
}

#traciPhoto {
  height: 40vh;
  border-radius: 50%;
  border: 1px ridge whitesmoke;
}

#aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#aboutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  font-size: 1rem;
}
#aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

#projects {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectType {
  display: flex;
  justify-content: space-around;
}
.web {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#dev {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid blue;
}

#card {
  height: 10%;
  width: 10%;
}
#card img {
  height: 20vh;
  width: 15vw;
  border-radius: 5%;
}
h1 {
  font-size: 2.7rem;
  color: whitesmoke;
}
h4 {
  font-size: 1.5rem;
}

#download {
  background: #f2a900;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 5%;
  width: 7vw;
  height: 10vh;
  font-size: 1rem;
  border: none;
}
#projectSection {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1080px;
}

.projectTitle {
  background-color: transparent;
}

.projectTiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  position: relative;
  width: 250px;
  margin: 50px;
}

.image {
  opacity: 1;
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

#projectSite {
  content: url("https://api.iconify.design/gridicons:site.svg?color=whitesmoke&height=66");
  vertical-align: -0.55em;
}

#projectGithub {
  content: url("https://api.iconify.design/jam:github-square.svg?color=whitesmoke&height=52");
  vertical-align: -0.1em;
}

#linkedinIcon {
  content: url("https://api.iconify.design/jam:linkedin-square.svg?color=whitesmoke&height=50");
  vertical-align: -0.125em;
}

#emailIcon {
  content: url("https://api.iconify.design/mdi:email-box.svg?color=whitesmoke&height=55");
  vertical-align: -0.125em;
}

#githubIcon {
  content: url("https://api.iconify.design/jam:github-square.svg?color=whitesmoke&height=50");
  vertical-align: -0.125em;
}
#instaIcon {
   content: url('https://api.iconify.design/ant-design:instagram-outlined.svg?color=whitesmoke&height=50');
vertical-align: -0.125em;
}

.contactSection{
    display:flex; 
    justify-content: center;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
